body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:781px;
}
#u14228 {
  position:absolute;
  left:1439px;
  top:0px;
  width:1px;
  height:780px;
}
#u14229 {
  position:absolute;
  left:2px;
  top:382px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:680px;
}
#u14230 {
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:680px;
}
#u14231 {
  position:absolute;
  left:2px;
  top:332px;
  width:1432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u14232 {
  position:absolute;
  left:10px;
  top:40px;
  width:240px;
  height:30px;
}
#u14233 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:39px;
}
#u14234 {
  position:absolute;
  left:98px;
  top:32px;
  width:19px;
  height:39px;
}
#u14235 {
  position:absolute;
  left:2px;
  top:12px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:17px;
}
#u14236 {
  position:absolute;
  left:24px;
  top:628px;
  width:276px;
  height:17px;
}
#u14237 {
  position:absolute;
  left:2px;
  top:0px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u14238 {
  position:absolute;
  left:754px;
  top:622px;
  width:418px;
  height:23px;
}
#u14239 {
  position:absolute;
  left:2px;
  top:4px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
}
#u14240 {
  position:absolute;
  left:970px;
  top:591px;
  width:120px;
  height:21px;
}
#u14241 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u14242 {
  position:absolute;
  left:1067px;
  top:593px;
  width:29px;
  height:17px;
}
#u14243 {
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:17px;
}
#u14244 {
  position:absolute;
  left:1090px;
  top:594px;
  width:3px;
  height:17px;
}
#u14245 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u14246 {
  position:absolute;
  left:1120px;
  top:592px;
  width:50px;
  height:21px;
}
#u14247 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u14248 {
  position:absolute;
  left:1121px;
  top:596px;
  width:51px;
  height:13px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u14249 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u14250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
}
#u14250 {
  position:absolute;
  left:1210px;
  top:77px;
  width:48px;
  height:27px;
}
#u14251 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u14252 {
  position:absolute;
  left:1288px;
  top:77px;
  width:42px;
  height:27px;
}
#u14253 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
